<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include('partials/header'); -%>
<body>
<div class="container">
    <%- include('partials/navbar'); -%>
    <main>
        <div class="main-header">
            <h1>Blog</h1>

            <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
            </h2>

            <hr>

            <% blog.forEach((post) => { %>
                <div class="card border-0">
                    <div class="card-body">
                        <h5 class="card-title text-center"><%= post.title %></h5>
<!--                        <p class="card-text blog-link"><%= post.description %></p>-->
                        <p><%= post.body.substring(0, 600) + "..." %>><a href="/blog/<%= post.url %>">Read more</a></p>
                    </div>
                </div>
            <% }); %>
        </div>
    </main>
</div>
</body>
</html>
