<%- include('partials/header.ejs'); -%>
<body>
<%- include('partials/navbar.ejs'); -%>
<main role="main">
    <div class="gap major-gap" style="background-image: url('images/blog.png');">
    </div>

    <div class="cat-header">
        <h1>Blog</h1>
    </div>

    <div class="container">
        <% blog.forEach((post) => { %>
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-body">
                            <h5 class="card-title text-center"><%= post.title %></h5>
                            <p class="card-text blog-link"><%= post.description %></p>
                            <p class="card-text blog-link text-center"><a href="/blog/<%= post.url %>">Read more</a></p>
                        </div>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</main>
</body>
<%- include('partials/footer'); -%>