<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include('partials/header'); -%>
<body>
<div class="container">
    <%- include('partials/navbar'); -%>
    <main>
        <div class="main-header">
            <h1>Blog</h1>

            <h2>
                This is my blog where I write about things that range from programming projects,
                my hobbies, things that I have been a apart of, and everything in between. At times it can seem like
                the ramblings of a madman, but there is a method to my madness.
            </h2>

            <% blog.forEach((post) => { %>
                <hr>
                <div class="card border-0 blog-block">
                    <div class="card-body">
                        <h5 class="card-title blog-title"><%= post.title %></h5>
                        <h6><%= post.date.toLocaleDateString("en-US", { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) %></h6>
                        <p class="blog-content"><%= post.body.substring(0, 600) + "..." %><a
                                    href="/blog/<%= post.url %>">Read more</a></p>
                    </div>
                </div>
            <% }); %>
        </div>
    </main>
</div>
</body>
<%- include('partials/footer'); -%>
</html>
