<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include('partials/header'); -%>
<body>
<div class="container">
    <%- include('partials/navbar'); -%>
    <main>
        <div class="main-header">
            <h1>Education</h1>

            <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
            </h2>

            <% education.forEach((edu) => { %>
                <hr>
                <div class="container divider cat-header">
                    <div class="row">
                        <div class="col-11">
                            <h2><%= edu.title %></h2>
                            <h6><%= edu.subheading %></h6>
                        </div>
                        <div class="col-1 arrow-btn">
                            <a class="expand-btn center" data-toggle="collapse" data-target="#collapse<%= edu.uuid %>"
                               aria-expanded="false" aria-controls="collapse<%= edu.uuid %>">
                                <i class="animate-icon fa fa-chevron-left" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="collapse extra-info-card" id="collapse<%= edu.uuid %>">
                    <div class="card card-body">
                        <%= edu.content %>
                    </div>
                </div>

            <% }); %>

            <hr>

            <div class="cat-list">
                <h2>Certifications</h2>
                <ul class="list-unstyled">
                    <% certifications.forEach((cert) => { %>
                        <li class="text-center"><a href="<%= cert.link %>" target="_blank"><%= cert.name %></a></li>
                    <% }); %>
                </ul>
            </div>
        </div>
    </main>
</div>
</body>
<%- include('partials/footer'); -%>
</html>
