<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include('partials/header'); -%>
<body>
<div class="container">
    <%- include('partials/navbar'); -%>
    <main>
        <div class="main-header">
            <h1>Education</h1>

            <h2>
                I consider myself a life long learner and continual learning is a core element of software development.
                This section showcases my formal degrees and certifications, but I also learn from a variety of
                sources including YouTube, online tutorials, and more.
            </h2>

            <% education.forEach((edu) => { %>
                <hr>
                <div class="container divider cat-header">
                    <div class="row">
                        <div class="col-11">
                            <h2><%= edu.title %></h2>
                            <h6><%= edu.subheading %></h6>
                        </div>
                        <% if (edu.body) { %>
                            <div class="col-1 arrow-btn">
                                <a class="expand-btn center" data-toggle="collapse"
                                   data-target="#collapse<%= edu.uuid %>"
                                   aria-expanded="false" aria-controls="collapse<%= edu.uuid %>">
                                    <i class="animate-icon fa fa-chevron-left" aria-hidden="true"></i>
                                </a>
                            </div>
                        <% } %>
                    </div>
                </div>
                <div class="collapse extra-info-card" id="collapse<%= edu.uuid %>">
                    <div class="card card-body">
                        <%- edu.body %>
                    </div>
                </div>

            <% }); %>

            <hr>

            <div class="cat-list">
                <h2>Certifications</h2>
                <ul class="list-unstyled">
                    <% certifications.forEach((cert) => { %>
                        <li class="text-center"><a href="<%= cert.link %>" target="_blank"><%= cert.title %></a></li>
                    <% }); %>
                </ul>
            </div>
        </div>
    </main>
</div>
</body>
<%- include('partials/footer'); -%>
</html>
