<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include('partials/header'); -%>
<body>
<div class="container">
    <%- include('partials/navbar'); -%>
    <main>
        <div class="main-header">
            <h1>Experience</h1>

            <h2>
                This section showcases my software development and other professional related experiences that have
                given me invaluable skills to succeed in future employment opportunities. If you want to know more
                or have any questions feel free to reach out to me.
            </h2>

            <% experiences.forEach((exp) => { %>
                <hr>
                <div class="container divider cat-header">
                    <div class="row">
                        <div class="col-11">
                            <h2><%= exp.title %></h2>
                            <h6><%= exp.subheading %></h6>
                        </div>
                        <div class="col-1 arrow-btn">
                            <a class="expand-btn center" data-toggle="collapse" data-target="#collapse<%= exp.uuid %>"
                               aria-expanded="false" aria-controls="collapse<%= exp.uuid %>">
                                <i class="animate-icon fa fa-chevron-left" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="collapse extra-info-card" id="collapse<%= exp.uuid %>">
                    <div class="card card-body">
                        <%- exp.body %>
                    </div>
                </div>

            <% }); %>

            <hr>

            <div class="cat-list">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <h2>Technical Skills</h2>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-6 col-sm-12 left">
                        <ul class="list-unstyled">
                            <% skillsLeft.forEach((skill) => { %>
                                <li><%= skill.skill %></li>
                            <% }); %>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-12 right">
                        <ul class="list-unstyled">
                            <% skillsRight.forEach((skill) => { %>
                                <li><%= skill.skill %></li>
                            <% }); %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
<%- include('partials/footer'); -%>
</html>
