<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include('partials/header'); -%>
<body>
<div class="container">
    <%- include('partials/navbar'); -%>
    <main>
        <div class="main-header blog-post">
            <h2 class="post-title"><%= title %></h2>
            <h6><%= date %></h6>
            <%- body %>
        </div>
    </main>
</div>
</body>
<%- include('partials/footer'); -%>
</html>
