<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include('partials/header'); -%>
<body>
<div class="container">
    <%- include('partials/navbar'); -%>
    <main>
        <div class="main-header">
            <h1>Volunteering</h1>

            <h2>
                It is important for me to be an engaged member of my community. These opportunities have been invaluable
                experiences and have taught me so much about what it means to be a good leader, team member, and person.
            </h2>

            <% volunteering.forEach((vol) => { %>
                <hr>
                <div class="container divider cat-header">
                    <div class="row">
                        <div class="col-11">
                            <h2><%= vol.title %></h2>
                            <h6><%= vol.subheading %></h6>
                        </div>
                        <div class="col-1 arrow-btn">
                            <a class="expand-btn center" data-toggle="collapse" data-target="#collapse<%= vol.uuid %>"
                               aria-expanded="false" aria-controls="collapse<%= vol.uuid %>">
                                <i class="animate-icon fa fa-chevron-left" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="collapse extra-info-card" id="collapse<%= vol.uuid %>">
                    <div class="card card-body">
                        <%- vol.body %>
                    </div>
                </div>
            <% }); %>
        </div>
    </main>
</div>
</body>
<%- include('partials/footer'); -%>
</html>
